# {{ansible_managed}}

[user]
    email=pierre@occitech.fr
    name=Pierre Martin
[alias]
    co = checkout
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
    filemode = false
[rerere]
    enabled = true
[push]
	default = simple
[credential]
	helper = cache